awswrangler==3.13.0
boto3==1.40.34
botocore==1.40.34
et_xmlfile==2.0.0
fsspec==2026.2.0
greenlet==3.3.2
jmespath==1.0.1
numpy==2.3.3
openpyxl==3.1.5
packaging==25.0
pandas==2.3.2
pyarrow==20.0.0
PyAthena==3.30.1
python-dateutil==2.9.0.post0
pytz==2025.2
s3transfer==0.14.0
setuptools==80.9.0
six==1.17.0
SQLAlchemy==2.0.48
tenacity==9.1.4
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
